You need to build Admin Panel. Following are the Requirements:

- Admin could see no of products, categories, users, truthfull reviews, spam reviews in the dashboard.
- Admin could see recent reviews in dashboard.
- Admin could see pie chart of spam reviews and truthfull reviews of all the reviews in dashboard.
- Admin could see all the categories in form of table in categories page.
- When click on the Category Name new page is open which will show all the products of that category in form of table. 
- Admin could see all the products of the website in form of table in products page.
- Admin could add the new Product. When click on add product button form will open which will ask for product name, product picture and category name. On
  adding new product's overall rating will be zero and no. of review will also be zero.
- When click on Product name new page will open will show all the reviews of that product in form of table.
- Admin could see all the reviews on the website in Reviews page in form of table.
- When click on Spam Reviews table all the spam reviews will displaed in form of table in new page.
- When click on Reviewer name in reviews list, user profile will be opened.
- User list will display all the users of the website.
- When click on name user profile will be displaed in new page.
- Admin can ban the user for duration in hour time. When click on ban button form will open which will ask for duration of ban in hours.
- If user have written no reviews, then it will display "This user has written no reviews".
- Sugggestion page will show all the new product or category suggestion from the database table.
